@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
* {
    margin: 0;
    /* outline: 1px solid red; */
    font-family: Montserrat, sans-serif;

}

body {
    display: flex;
}

aside {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    width: 20%;
    height: 100vh;
}


.odin-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 25px;
    margin-top: 50%;
    height: 20%;
    
}

.odin-title {
    display: flex;
    font-family: Norse-Bold,serif;
    color: white;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    
}

.odin-info *{
    width: 75px;
    height: 75px;
    
    
}

main {

}

.description-container {
    padding: 50px;
}
.description {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.signup-container {
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.267), 0px -1px 30px rgba(0, 0, 0, 0.267);
    padding: 50px;
}


.form-container {
    display: flex;
    flex-direction: row;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;


}

.form-holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-container {
    padding: 50px;
}

button {
    height: 50px;
    width: 200px;
}

.reminder-container {
    margin-top: 20px;
}

a {
    color: darkolivegreen;
    font-weight: bolder;
}

a:link {
    text-decoration: none;
}